body{
   background-image: linear-gradient(to right, #5abcd8, #0f5e9c);
}

div{
    position: absolute;
    top: 20%;
    left: 45%;
}

input{
    width: 150px;
    height: 30px;
    margin: 4px;
    text-align: center;
    border-radius: 20%;
    border-color: #7f7985;
    
}

p{
    color: #400080;
    
}

#calculateButton{
    width: 100px;
    height: 30px;
    font-size: 20px;
    color: #400080;
    border-radius: 20%;
    position: absolute;
    left: 28px;
}